---
import '../styles/global.css' ;
---



<div class="brand-mark text-center md:text-left"> theschneider.hair </div>



<style>

.brand-mark {
  font-size: 1.5rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  background-color: var(--color-beige-200);
}


</style>