<div
  id="salonized-widget"
  class="salonized-booking"
  data-company="m2yzkzSecfyaghBe93MNZGuc"
  data-color="#333333"
  data-language="de"
  data-position="right"
  data-outline="shadow"
></div>

<script src="https://static-widget.salonized.com/loader.js" async defer></script>